<configuration>

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <logger name="org.apache.cassandra" level="ERROR" />
    <logger name="com.datastax.driver.core" level="ERROR" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>-->
            <pattern>[ %highlight(%-5level)] %red([%date{dd MMM yyyy;HH:mm:ss.SSS}]) %yellow([%logger{0}]) %cyan(%X{akkaSource}) - %boldBlue(%msg%n)</pattern>
        </encoder>
    </appender>


<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>target/aws.${bySecond}.log</file>-->
<!--        <append>true</append>-->

<!--        <encoder>-->
<!--            &lt;!&ndash;<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>&ndash;&gt;-->
<!--            <pattern>[ %highlight(%-5level)] %red([%date{dd MMM yyyy;HH:mm:ss.SSS}]) %yellow([%logger{0}]) %cyan(%X{akkaSource}) - %boldBlue(%msg%n)</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <appender name="ERRORFILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>target/aws.error.${bySecond}.log</file>-->
<!--        <append>true</append>-->

<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>ERROR</level>-->
<!--        </filter>-->

<!--        <encoder>-->
<!--            &lt;!&ndash;<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>&ndash;&gt;-->
<!--            <pattern>[ %highlight(%-5level)] %red([%date{dd MMM yyyy;HH:mm:ss.SSS}]) %yellow([%logger{0}]) %cyan(%X{akkaSource}) - %boldBlue(%msg%n)</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- Configure so that it outputs to both console and log file -->
    <root level="DEBUG">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ERRORFILE"/>
    </root>
</configuration>